In [1]:
# Import Libraries
import numpy as np
import pandas as pd
import sqlite3

In [2]:
# Install  ipython-sql
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\admin\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\admin\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\admin\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\admin\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\admin\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\admin\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\admin\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\admin\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\admin\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\admin\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\admin\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\admin\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\admin\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\admin\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\admin\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\admin\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [5]:
# If the db does not exist, sqlite will create it.
con = sqlite3.connect('data-dev.sqlite')

# loads sql magic
%load_ext sql 

# connects sql magic command to the correct db
%sql sqlite:///data-dev.sqlite

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
# read back in to prove that it worked
sql = 'SELECT * FROM contact_table'
contacts = pd.read_sql(sql, con)
contacts

DatabaseError: Execution failed on sql 'SELECT * FROM contact_table': no such table: contact_table

In [8]:
# If the db does not exist, sqlite will create it.
con = sqlite3.connect('data-production_py.sqlite')

# loads sql magic
%reload_ext sql 

# connects sql magic command to the correct db
%sql sqlite:///data-production_py.sqlite


# read back in to prove that it worked
sql = 'SELECT * FROM contact_table'
contacts = pd.read_sql(sql, con)
contacts

,id,name,email,subject,message,date
0,1,Soyinka Modupe Sowoolu,soyinkas1@gmail.com,check flash,This should be last production test,2024-12-28 18:39:00.664221
1,2,Soyinka Sowoolu,engrsho@yahoo.com,final test,Another quick check,2024-12-28 19:31:23.937222